* {
  box-sizing: border-box;
}

#root {
  max-width: 600px;
  margin: auto;
  padding: 1em;
}

form {
  display: grid;
  min-width: 100%;
  max-width: 600px;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3px;
  p {
    margin: 0;
  }
  input {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    outline: none;
    line-height: 15px;
    font-size: 12px;
    &:focus {
      background-color: #f3f3f3;
    }
    &[type="submit"] {
      height: 25px;
    }
  }
}

.item {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 5px;
  justify-content: space-between;
  margin-bottom: 10px;
  h3 {
    margin: 0;
    line-height: 1em;
  }
  p {
    margin: 0;
  }
}

button {
  border: 1px solid lightgray;
  font-size: 12px;
}

.deleteBtn {
  background-color: red;
  color: #fff;
}
